@page
@using LSSD.StoreFront.DB;
@using LSSD.StoreFront.DB.repositories;
@using LSSD.StoreFront.Lib;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    DatabaseContext dbContext = new DatabaseContext(config.GetConnectionString(ManagerSettings.ConnectionStringName));
    OrderRepository orderRepo = new OrderRepository(dbContext);
    List<Order> AllOrders = orderRepo.GetIncomplete();
    string UserDisplayName = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == "name").FirstOrDefault().Value;
}

<h1>Outstanding Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left">Order Date</th>
            <th class="text-left">Submitted by</th>
            <th class="text-right">Order Total</th>
            <th class="text-center">Total Items</th>
            <th class="text-center">Budget Number</th>
            <th class="text-center">Order Status</th>
            <th class="text-right">Details</th>
        </tr>
    </thead>

    @foreach (Order order in AllOrders.OrderBy(x => x.OrderDate))
    {
        <tr>
            <td class="text-left">@order.OrderDate.ToShortDateString() @order.OrderDate.ToShortTimeString()</td>
            <td class="text-left">@order.CustomerFullName</td>
            <td class="text-right">$@order.OrderGrandTotal.ToString("#,##0.00")</td>
            <td class="text-center">@order.OrderTotalItems</td>
            <td class="text-center">@order.BudgetAccountNumber</td>
            <td class="text-center">@order.LastKnownStatus</td>
            <td class="text-right"><a href="/Order/@order.OrderThumbprint">View order details</a></td>
        </tr>
    }



</table>