@page "{Id=0}"
@using System.Security.Claims;
@using LSSD.StoreFront.DB;
@using LSSD.StoreFront.Lib;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@namespace LSSD.StoreFront.FrontEnd.Pages
@model LSSD.StoreFront.FrontEnd.Pages.CategoryModel
@{
    DatabaseContext dbContext = new DatabaseContext(config.GetConnectionString(FrontendSettings.ConnectionStringName));
    UserFriendlyInventory Inventory = new UserFriendlyInventory(dbContext);

    string categoryIdString = RouteData.Values["Id"].ToString();
    int categoryID = categoryIdString.ToInt();
    List<Product> category = Inventory.ItemsFromCategory(categoryID);
    ViewData["Title"] = Inventory.Category(categoryID).Name;
}

@section SideBar{
    <!--Start sidebar-->
    <div class="row">
        <div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100" id="sidebar">
            @*
                Pt-2: spacing
                col-2: read more here https://getbootstrap.com/docs/4.1/layout/grid/
                d-md-flex: flex - https://getbootstrap.com/docs/4.1/utilities/flex/
            *@

            <ul class="nav flex-column flex-nowrap sticky-top">

                @foreach (Lib.ProductCategory topLevelCategory in Inventory.TopLevelCategories)
                {
                    <li class="nav-item"><a class="nav-link" href="/Category/@topLevelCategory.Id">@topLevelCategory.Name</a></li>

                    if (topLevelCategory.HasChildren)
                    {
                        <ul class="flex-column nav pl-4">
                            @foreach (Lib.ProductCategory secondLevelCategory in topLevelCategory.ChildCategories)
                            {
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="/Category/@secondLevelCategory.Id">
                                        <i class="fa fa-fw fa-clock-o"></i> @secondLevelCategory.Name
                                    </a>
                                </li>

                            }
                        </ul>
                    }
                }
            </ul>

        </div>
        <!--End Sidebar-->
}
<h1>@Inventory.Category(categoryID).Name</h1>
<br /><br />

@if (Inventory.Items.Count > 0)
{
    <div class="card-deck">
        
        @foreach (Lib.Product product in Inventory.ItemsFromCategory(categoryID))
        {
        <div class="row">
            <div class="col-sm-6">
                <div class="card bg-light" style="width: 18rem; margin-bottom:20px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/Item/@product.Id">@product.Name</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">@product.Description</p>

                        @if (product.IsAvailable)
                        {
                            <div style="position: relative; width: 100%;">

                                <div style="text-align: right;padding: 10px; padding-right:0px; padding-bottom:0px; font-size: 26px; font-weight: bold;">
                                    $@product.TotalPrice.ToString("#,##0.00")
                                </div>

                                <div style="text-align: right; padding: 5px; padding-right:0px;">
                                    <form method="post" asp-page-handler="AddItemToCart" style="display: inline;">
                                        <div class="input-group" style="display: inline;">
                                            <input name="txtQuantity" class="form-control-sm form-control d-inline" type="number" value="1" min="1" max="9999" step="1" style="width: 75px;" required />
                                            <button type="submit" class="btn btn-sm btn-outline-secondary mb-1 d-inline" style="width: 100px;">Add to cart</button>
                                            <input type="hidden" name="txtProductId" value="@product.Id" />
                                        </div>
                                    </form>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div style="text-align: right; padding: 5px; padding-right:0px;">
                                <span class="badge badge-pill badge-light">
                                Currently Not Available
                                </span>
                            </div>

                        }
                    </div>
                </div>
        </div>
    </div>
                }
            </div>
            }
