@page
@using System.Security.Claims;
@using LSSD.StoreFront.DB;
@using LSSD.StoreFront.Lib;
@model LSSDStoreFront_FrontEnd.Pages.MarkTestModel
@{
    ViewData["Title"] = "MarkTest";
}

<p>Identity: @User.Identity</p>
<p>User Identity Name: @User.Identity.Name</p>

@{
    string UserDisplayName = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == "name").FirstOrDefault().Value;
}
<b>Is authenticated?: </b> @User.Identity.IsAuthenticated
<b>Display name:</b> @UserDisplayName
@*
    <table class="table">
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>

*@
<br/><br/>
<form method="post" asp-page-handler="AddTestItems" style="display: inline;">
    <button class="btn btn-lg btn-danger small">Add test items to shopping cart</button>
</form>

