@page
@using LSSD.StoreFront.Lib;
@using LSSD.StoreFront.FrontEnd.Extensions;
@using LSSD.StoreFront.DB;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@namespace LSSD.StoreFront.FrontEnd.Pages
@model LSSD.StoreFront.FrontEnd.Pages.OrdersModel
@{
    ViewData["Title"] = "Order History";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    DatabaseContext dbContext = new DatabaseContext(config.GetConnectionString(FrontendSettings.ConnectionStringName));
    UserFriendlyOrders Orders = new UserFriendlyOrders(dbContext, User.Identity.Name);
    string UserDisplayName = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == "name").FirstOrDefault().Value;
}

<h1>@UserDisplayName's Order History</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left">Order Date</th>
            <th class="text-right">Order Total</th>
            <th class="text-center">Total Items</th>
            <th class="text-center">Budget Number</th>
            <th class="text-center">Order Status</th>
            <th class="text-right">Details</th>
        </tr>
    </thead>

    @foreach (Order order in Orders.OrderHistory)
    {
        <tr>
            <td class="text-left">@order.OrderDate.ToLongDateString() @order.OrderDate.ToShortTimeString()</td>
            <td class="text-right">$@order.OrderGrandTotal.ToString("#,##0.00")</td>
            <td class="text-center">@order.OrderTotalItems</td>
            <td class="text-center">@order.BudgetAccountNumber</td>
            <td class="text-center">@order.LastKnownStatus</td>
            <td class="text-right"><a href="/Order/@order.OrderThumbprint">View order details</a></td>
        </tr>
    }



</table>