@page
@using LSSD.StoreFront.Lib;
@model LSSDStoreFront_FrontEnd.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div style="">
    <h1>My Shopping Cart</h1>
    <p>
        <i>@Model.ShoppingCart.TotalItems Items</i>
    </p>
    <div style="text-align: right;">
        <form method="post" asp-page-handler="ClearCart" style="display: inline;">
            <button class="btn btn-sm btn-outline-danger small">Clear Cart</button>
        </form>
    </div>
    <br/>
    <table class="table">
        <tr>
            <th class="text-left">Item</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Item Price</th>
            <th class="text-right"></th>
            <th class="text-right">Total Price</th>
        </tr>
        @foreach (ShoppingCartItem item in Model.ShoppingCart.Items)
        {
            <tr>
                <td class="text-left">@item.Product.Name</td>
                <td class="text-center">
                    <form method="post" asp-page-handler="UpdateQuantity" style="display: inline;">
                        <input type="hidden" name="productID" value="@item.ProductId" />
                        <input class="form-control" type="text" maxlength="4" style="width: 60px;text-align:center; display: inline;" name="quantity" value="@item.Quantity" />
                        <button class="btn btn-sm btn-link small">Update quantity</button>
                    </form>
                    <form method="post" asp-page-handler="RemoveItem" style="display: inline;">
                        <input type="hidden" name="productID" value="@item.ProductId" />
                        <button class="btn btn-sm btn-link small">Remove</button>
                    </form>
                </td>
                <td class="text-right">$@item.Product.Price</td>
                <td class="text-right">&times;@item.Quantity</td>
                <td class="text-right">$@item.TotalPrice.ToString("#,##0.00")</td>
            </tr>
        }
        <tr>
            <td colspan="5" class="text-right"><b>Grand Total:</b> $@Model.ShoppingCart.TotalCost.ToString("#,##0.00")</td>
        </tr>
        <tr>
            <td colspan="5" class="text-right">
                <form method="post" asp-page-handler="Checkout" style="display: inline;">
                    <button class="btn btn-success btn-lg">Checkout</button>
                </form>
            </td>
        </tr>
    </table>
</div>